<header class="topbar">
  <nav>
    <a routerLink="/top"  routerLinkActive="active" data-testid="link-top">Top</a>
    <a routerLink="/new"  routerLinkActive="active" data-testid="link-new">New</a>
    <a routerLink="/best" routerLinkActive="active" data-testid="link-best">Best</a>
    <a routerLink="/ask"  routerLinkActive="active" data-testid="link-ask">Ask</a>
    <a routerLink="/show" routerLinkActive="active" data-testid="link-show">Show</a>
    <a routerLink="/jobs" routerLinkActive="active" data-testid="link-show">Jobs</a>
  </nav>
</header>